.my-quote quoteblock .my-quote-quotation > :first-child::before {
  content: "“";
}

.my-quote quoteblock .my-quote-quotation > :last-child::after {
  content: "”";
}

.quote quoteblock .my-quote-attribution > :first-child::before {
  content: "—";
  padding-right: 0.5ch;
}